.background {
  padding: 20px 0;
}

.title {
  text-align: center;
  margin-top: 0;
  color: white;
}

/* ClubInfo Components */

.flex {
  padding: 20px 0;
}

.flex > * {
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .flex > .imgCover {
    width: calc(100% - 40px);
  }

  .imgCover > img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .flex {
    display: flex;
    margin: 0 20px;
  }
}

.subtitle {
  color: rgb(255, 195, 0);
}

.text {
  color: rgb(188, 193, 203);
  line-height: 1.75;
}
