.sideMenu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
  z-index: 1;
  transition: width 0.4s;
}

.sideMenu.open {
  width: 250px;
}

.menuList {
  margin-top: 75px;
}

.menuList > * {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 20px;
  font-weight: 1000;
  cursor: pointer;
  background: none;
  border: none;
  display: block;
  color: rgb(156, 220, 232);
  margin-left: 24px;
  padding: 8px;
  white-space: nowrap; /* 자동 줄바꿈 방지 */
}
